{% extends 'events/base.html' %}

{% block content %}
{% if user.is_authenticated %}
  <br><br>
    {% if submitted %}
     <h3> Your event was submitted successfully !!!</h3>
<a href="{% url 'list-events' %}" class="btn btn-info">Events</a>
    {% else %}

  <h2>Add Event to Database</h2>
      <form action="" method=POST>
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Submit" class="btn btn-info" >
      </form>

    {% endif %}
    <br/><br/>
{% else %}
<h1> You have to be logged in to Add an Event</h1>

<a href="{% url 'login' %}">Log in Here</a>

{% endif %}

{% endblock %}
