{% extends 'events/base.html' %}

{% block content %}
    
<div class=container>
  <br>
  <div class="card" style="width: 28rem;">
    <h1 class="card-header text-center">{{ venue }}</h1>

    <h5 class="card-title text-center">Details about the {{ venue }} venue </h5>
    <p>{{ user.id }}</p>
    <!-- {{ venue }} -->
      <div class="card-body">
          <br>  
          <p class="card-text"><strong>Address:</strong> {{ venue.address }}</p>
            <p class="card-text">PostCode: {{ venue.zip_code }}</p>
            <p class="card-text">Phone: {{ venue.phone }}</p>
            <p class="card-text">Venue Website: {{ venue.web }}</p>
            <p class="card-text">Venue Email: {{ venue.email_address }}</p>
      </div>
      <br/>
{% if user.is_authenticated %}
        <a href="{% url 'update-venue' venue.id %}" class="btn btn-outline-info btn-sm">Update Venue</a>
        <a href="{% url 'delete-venue' venue.id %}" class="btn btn-outline-danger btn-sm">Delete Venue</a>

{% else %}

<a class="btn btn-info btn-sm" href="{% url 'login' %}">Log in To Update</a>

{% endif %}
  </div>
</div>

{% endblock %}

