{% extends 'events/base.html' %}

{% block content %}
    
<div class=container>
  <br>
  
  <div class="card" style="width: 28rem;">
    <h1 class="card-header text-center">{{ venue }}</h1>

    <h5 class="card-title text-center">Details about the {{ venue }} venue </h5>
    <!-- {{ venue }} -->
      <div class="card-body">
          <br>  
          <p class="card-text"><strong>Address:</strong> {{ venue.address }}</p>
            <p class="card-text">PostCode: {{ venue.zip_code }}</p>
            <p class="card-text">Manager: {{ venue.phone }}</p>
            <p class="card-text">Venue Website: {{ venue.web }}</p>
            <p class="card-text">Venue Email: {{ venue.email_address }}</p>
      </div>
      <br/>
  </div>
</div>

{% endblock %}

